<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Item.Contracts.Properties.Settings.MARKY_20151212ConnectionString"
            connectionString="Data Source=MMANOY-T440P\SQLEXPRESS;Initial Catalog=MARKY_20151212;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>